<!-- Cookie Consent -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v3.0.1/dist/cookieconsent.css">
<script src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v3.0.1/dist/cookieconsent.umd.js"></script>

<script>
window.addEventListener('load', function () {
    CookieConsent.run({
        guiOptions: {
            consentModal: {
                layout: "box",
                position: "bottom right",
                equalWeightButtons: true,
                flipButtons: false
            },
            settingsModal: {
                layout: "list",
                position: "left",
                equalWeightButtons: true,
                flipButtons: false
            }
        },
        categories: {
            necessary: { readOnly: true },
            analytics: { enabled: false, readOnly: false }
        },
        language: {
            default: "it",
            translations: {
                it: {
                    consentModal: {
                        title: "Gestione Cookie",
                        description: "Ciao! Usiamo i cookie per migliorare la tua esperienza sul Devblog di ILGDR!.",
                        acceptAllBtn: "Accetta tutti",
                        acceptNecessaryBtn: "Rifiuta tutto",
                        showSettingsBtn: "Personalizza",
                    },
                    settingsModal: {
                        title: "Preferenze Cookie",
                        acceptAllBtn: "Accetta tutti",
                        acceptNecessaryBtn: "Rifiuta tutto",
                        saveSettingsBtn: "Salva impostazioni",
                        closeIconLabel: "Chiudi",
                        sections: [
                            {
                                title: "Cookie strettamente necessari",
                                description: "Questi cookie sono essenziali per il corretto funzionamento del sito.",
                                linkedCategory: "necessary"
                            },
                            {
                                title: "Cookie Analitici",
                                description: "Questi cookie ci aiutano a capire come interagisci con il sito.",
                                linkedCategory: "analytics"
                            }
                        ]
                    }
                }
            }
        },
        onConsent: ({cookie}) => {
            if (CookieConsent.acceptedCategory('analytics')) {
                window.dataLayer = window.dataLayer || [];
                window.dataLayer.push({
                    'event': 'consent_update',
                    'analytics_storage': 'granted'
                });
            }
        },
        onChange: ({changedCategories}) => {
            if (changedCategories.includes('analytics')) {
                const status = CookieConsent.acceptedCategory('analytics') ? 'granted' : 'denied';
                window.dataLayer.push({
                    'event': 'consent_update',
                    'analytics_storage': status
                });
            }
        }
    });
});
</script>
<!-- End Cookie Consent -->

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NLZMQ8SD');</script>
<!-- End Google Tag Manager -->